body { 
-epub-hyphens:auto;
-webkit-hyphens:auto;
font-weight:normal;
font-family:serif;
font-size:1em;
text-align:left;
letter-spacing:0;
line-height:1.20em;
margin:0 1.5%;
orphans:1;
widows:1;
padding:0 0 0 0;
word-spacing:0; 
}
div {
margin:0;
padding:0;
border-width:0;
}
dl {
margin:0;
padding:0;
border-width:0;
}
dt {
margin:0;
padding:0;
border-width:0;
}
dd {
margin:0;
padding:0;
border-width:0;
}
ul {
display:block;
list-style-type:none;
padding:0;
margin:0;
}
h1 {
margin:0;
padding:0;
border-width:0;
}
h2 {
margin:0;
padding:0;
border-width:0;
}
h3 {
margin:0;
padding:0;
border-width:0;
}
h4 {
margin:0;
padding:0;
border-width:0;
}
h5 {
margin:0;
padding:0;
border-width:0;
}
h6 {
margin:0;
padding:0;
border-width:0;
}
p {
margin:0;
padding:0;
border-width:0;
}
pre {
margin:0;
padding:0;
border-width:0;
}
code {
margin:0;
padding:0;
border-width:0;
}
blockquote {
margin:0;
padding:0;
border-width:0;
}

a[epub|type="noteref"] {
  text-decoration:none;
  color:inherit;
}
div[epub|type="footnotes"] {
  margin-top:3em;
  padding-top:0.2em;
  border-top:1px solid;
  }
div[epub|type="footnotes"] ol {
  list-style:none;
  padding:0;
  margin:0;
}

div.cover {
line-height:1.2em;
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.cover {
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.figure-image {
line-height:1.2em;
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}

h1.halftitle {
font-family:sans-serif;
font-size:250%;
line-height:1em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
h1.dedication-head {
font-family:serif;
font-size:105%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:8em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
p.gloss {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:left;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.cip-break {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.cip {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

h1.prect {
font-family:serif;
font-size:200%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:3em;
margin-bottom:2.5em;
margin-left:0em;
margin-right:0em;
}

p.contents-pt {
font-family:serif;
line-height:1.2em;
font-size:85%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
padding-bottom:0.2em;
border-bottom:1px solid;
}

p.contents-prect {
font-family:sans-serif;
line-height:1.2em;
font-size:90%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.contents-ct {
font-family:serif;
line-height:1.2em;
font-size:100%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:-1.5em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
}
p.contents-notes {
font-family:sans-serif;
line-height:1.5em;
font-size:90%;
text-align:left;
font-weight:bold;
font-style:normal;
text-indent:0em;
margin-top:2em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.dedication-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:8em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
}
p.dedication {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
}

p.dedication-small {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
}
p.epi-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.epi {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.epi-s {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.pepi {
font-family:serif;
font-size:90%;
line-height:1.5em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.source {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:right;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:1em;
}

h1.pn {
font-family:serif;
font-size:110%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.pt {
font-family:serif;
font-size:200%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.pn-bullet {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:1em;
margin-right:0em;
margin-bottom:1em;
margin-left:0em;
}
p.date {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

h1.cn {
font-family:-serif;
font-size:120%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:4em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.ct {
font-family:serif;
font-size:200%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0.5em;
margin-right:0em;
margin-left:0em;
margin-bottom:2.5em;
}
p.ctb {
font-family:serif;
font-size:190%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-right:0em;
margin-left:0em;
margin-bottom:0em;
}

p.cepi {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-right:0em;
margin-left:0em;
margin-bottom:0em;
}

p.cepi-s {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0.5em;
margin-right:0em;
margin-left:0em;
margin-bottom:3em;
}

p.center {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.display-text {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.news-title {
font-family:serif;
font-size:130%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.news-subtitle {
font-family:serif;
font-size:115%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:bold;
font-style:normal;
}

p.news-text {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:bold;
font-style:normal;
}


p.news-top {
font-family:serif;
font-size:150%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.news-text-center {
font-family:serif;
font-size:110%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.right {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:right;
text-indent:0em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.scene-break {

margin-top:1em;
margin-bottom:1em;
text-align:center;
}

p.center-text {
font-family:serif;
font-size:90%;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}


p.handwriting {
font-family:sans-serif;
font-size:90%;
line-height:1.2;
list-style-position:outside;
margin-top:0em;
margin-right:0;
margin-bottom:0em;
margin-left:3em;
text-align:justify;
text-indent:-1.5em;
}

p.handwriting-b {
font-family:sans-serif;
font-size:90%;
line-height:1.2;
list-style-position:outside;
margin-top:0em;
margin-right:0;
margin-bottom:1em;
margin-left:3em;
text-align:justify;
text-indent:-1.5em;

}
p.handwriting-head-- {
font-family:serif;
font-size:110%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}
p.handwriting-fext {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.handwriting-head {
font-family:sans-serif;
font-size:110%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.handwriting-unl {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:justify;
text-indent:-2em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3.6em;
font-weight:normal;
font-style:normal;
}
p.handwriting-indent {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.6em;
font-weight:normal;
font-style:normal;
}

p.script-list {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:justify;
text-indent:-1.5em;
margin-top:0.5em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:3.1em;
font-weight:normal;
font-style:normal;
}

p.handwriting-bl {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:justify;
text-indent:-1.5em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3.1em;
font-weight:normal;
font-style:normal;
}
p.handwriting-list {
font-size:100%;
line-height:1.2;
list-style-position:outside;
margin-top:0em;
margin-right:0;
margin-bottom:0em;
margin-left:2.8em;
text-align:justify;
text-indent:-1.6em;
}

p.let {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.let1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.let2 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}

div.poem {
font-family:serif;
font-size:100%;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.poem {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}

p.poem-spaced {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}

p.co {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.co-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.also-break {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.also {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
}

p.ftxt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.time {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.praise-title {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.praise {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.praise-s {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:1em;
font-weight:normal;
font-style:normal;
}

p.bib {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.dial {
font-family:serif;
font-size:90%;
line-height:1.5em;
text-align:justify;
text-indent:0em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.dial1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.box-head {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:bold;
font-style:normal;
}

p.box-txt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.box-txt-left {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.box-ftxt-nl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.box-fext {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.box-h1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.ftxt-spaced {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}
p.txt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

h2.ahd {
font-family:serif;
font-size:125%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

h2.ahd-below {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:1em;
margin-left:1em;
margin-right:1em;
font-weight:normal;
font-style:normal;
}

h3.bhd {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

span.sans {
font-family:sans-serif;
font-size:90%;
}

p.fext {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.6em;
font-weight:normal;
font-style:normal;
}

p.ex-sans {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.6em;
font-weight:normal;
font-style:normal;
}

p.ex-t {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.ex {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.ex-b {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.ex_alone {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.center-head {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.big-display {
font-family:serif;
font-size:150%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.bl-t {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:left;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:3em;
font-weight:normal;
font-style:normal;
}
p.bl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3em;
font-weight:normal;
font-style:normal;
}

p.bl-center-left {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:0em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:6em;
font-weight:normal;
font-style:normal;
}

p.bl-b {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:left;
margin-top:0em;
margin-right:0em;
margin-bottom:1em;
margin-left:3em;
font-weight:normal;
font-style:normal;
}
p.nl-t {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-2em;
text-align:left;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
}

p.nl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-2em;
text-align:left;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
}

p.nl-b {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-2em;
text-align:left;
margin-top:0em;
margin-right:0em;
margin-bottom:1em;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
}

p.unl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-2em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
}
p.al {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-indent:-2em;
text-align:justify;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:3.6em;
font-weight:normal;
font-style:normal;
}

p.list-para {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:0em;
text-align:left;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.caption {
font-family:sans-serif;
font-size:80%;
line-height:1.2em;
text-indent:0em;
text-align:center;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}

p.inds {
font-family:serif;
line-height:1.2em;
font-size:80%;
text-indent:-1em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:1em;
}
p.ind {
font-family:serif;
line-height:1.2em;
font-size:80%;
text-indent:-1em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1em;
}
p.ind1 {
font-family:serif;
line-height:1.2em;
font-size:80%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:-1em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:2em;
}
p.ind2 {
font-family:serif;
line-height:1.2em;
font-size:80%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:-1em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3em;
}
table {
border-collapse:collapse;
width:100%;
margin-left:0em;
margin-right:0em;
margin-bottom:1em;
margin-top:0em;
page-break-before:avoid;
}
table.table {
border-collapse:collapse;
width:100%;
margin-left:0em;
margin-right:0em;
margin-bottom:1em;
margin-top:1em;
page-break-before:avoid;
}

td.no-rule {
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
vertical-align:top;
padding:0em;
}

td.cell-style-1 {
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
vertical-align:top;
padding:1em;
border:1px solid;
}

td.cell-style-2 {
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
vertical-align:top;
padding:0.5em;
border:1px solid;
}

p.abb {
font-family:serif;
line-height:1.2em;
font-size:80%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.table-text {
font-family:serif;
line-height:1.2em;
font-size:100%;
text-align:center;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.thc {
font-family:sans-serif;
line-height:1.2em;
font-size:110%;
text-align:center;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0.2em;
margin-left:0em;
}
p.thc1 {
font-family:sans-serif;
line-height:1.2em;
font-size:100%;
text-align:center;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.tb-text {
font-family:sans-serif;
line-height:1.2em;
font-size:90%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

div.astbreak {
margin-top:1em;
margin-bottom:1em;
text-align:center;
}
aside.sidebar {
margin-top:1em;
margin-bottom:1em;
text-align:center;
}

p.linespace1 {
margin-top:2em;
}
span.bold {
font-weight:bold;
font-style:normal;
}
span.Bold {
font-weight:bold;
font-style:normal;
}
span.italic {
font-weight:normal;
font-style:italic;
}
span.Italic {
font-weight:normal;
font-style:italic;
}

span.noteblock {
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:3em;
}

span.numblock
{
font-size:100%;
margin-right:0.4em;
}

span.conblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:1.5em;
}

span.enblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:2.2em;
}

span.ablock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:2em;
}
span.bulletblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:1.5em;
}
span.romanblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:2em;
}

span.smallcaps {
font-size:75%;
line-height:1.2em;
}

span.Small Caps {
font-size:75%;
line-height:1.2em;
}

span.bolditalic {
font-weight:bold;
font-style:italic;
}
span.underline {
text-decoration:underline;
}
span.strike {
text-decoration:line-through;
}
span.superscript {
font-size:70%;
line-height:0.70em;
vertical-align:super;
}
p.subscript {
font-size:75%;
vertical-align:-.2em;
}
sub {
font-size:75%;
vertical-align:-.2em;
}
sup {
font-size:70%;
line-height:0.70em;
vertical-align:super;
}
span.raisedcap {
font-size:2em;
margin-top:-0.1em;
margin-right:0.05em;
margin-bottom:-0.1em;
margin-left:0em;
font-family:serif;
}
span.dropcaps {
float:left;
letter-spacing:0;
font-size:3.5em;
padding-right:0.1em;
font-family:serif;
font-weight:normal;
display:block;
line-height:110%;
margin-top:-.190em;
margin-bottom:-.5em;
color:#737679;
}

sup.footnote {
font-size:70%;
line-height:0.70em;
vertical-align:super;
}
p.ind a, p.inds a, p.ind1 a, p.ind2 a, p.ind3 a {

}
p.pbreak {
page-break-before:always;
padding-top:1em;
}
span.fsc {
font-size:75%;
line-height:1.2em; }

span.below-line {
border-bottom:1px solid #000000;
padding-bottom:0.2em;
padding-left:1em;
padding-right:1em;
}

div.poem {
margin-top:1em;
margin-bottom:1em;
}
section.letter {
margin-top:1em;
margin-bottom:1em;
}

h2.noteh {
font-family:sans-serif;
font-size:80%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

li.endnote {
font-family:serif;
line-height:1.2em;
font-size:80%;
text-align:left;
text-indent:-2.2em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.2em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.add-break {
page-break-before:always;
}
p.linebreak {
font-family:serif;
font-size:100%;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.advert-c {
font-family:serif;
font-size:120%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
font-weight:normal;
font-style:normal;
}

p.advert-break {
font-family:serif;
font-size:120%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2em;
margin-right:2em;
font-weight:normal;
font-style:normal;
}

img {
max-width:100%;
max-height:100%;
}
span.rule {
border-bottom:0.5px solid #000000;
text-align:justify;
padding-right:95%;
}

span.rule1 {
border-bottom:0.5px solid #000000;
text-align:justify;
padding-right:75%;
}

p.rule {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
border-bottom:1px solid #000000;
}

p.rule-1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
border-bottom:1px solid #000000;
}

p.box-rule {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
border-top:1px solid #000000;
}

p.a-break {
font-family:sans-serif;
font-size:150%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.a-center {
font-family:sans-serif;
font-size:150%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.a-cover {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.a-center-spaced {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.a-center-sans-spaced {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

span.marvin-font {
font-family:sans-serif;
font-size:100%;
}

p.adv-title-image {
font-family:serif;
font-weight:normal;
font-style:normal;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:3em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.adv-cip- {
font-family:sans-serif;
font-style:normal;
font-weight:normal;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:3em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.adv-cip {
font-family:sans-serif;
font-style:normal;
font-weight:normal;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.adv-cip1 {
font-family:sans-serif;
font-style:normal;
font-weight:normal;
font-size:120%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.adv-cip2 {
font-family:sans-serif;
font-style:normal;
font-weight:normal;
font-size:105%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.series-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:5em;
margin-right:1.5em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.series {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.2em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.icon-center-alone {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}
p.icon-center {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.panel-center {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.icon-panel {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
span.icon {
background-color:#dadbdc;
padding:0.5em;
border-radius: 20px;
}

span.tab1
{
padding-right:2em;
}

span.emoji {
font-family:emoji;
}

.width50 {
width:50%;
}
.width20 {
width:20%;
}
.width80 {
width:80%;
}

div.article {
margin-top:1.5em;
margin-bottom:1.5em;
margin-left:0em;
padding-top:0em;
padding-bottom:0em;
padding-left:0em;
padding-right:0em;
}
p.article-orna {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
h2.article-title {
font-family:sans-serif;
font-size:160%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.article-subtitle {
font-family:sans-serif;
font-size:110%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.5em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
color:#737679;
}

p.article-ftxt {
font-family:sans-serif;
font-size:85%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}
p.article-txt {
font-family:sans-serif;
font-size:85%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}
p.article-center {
font-family:sans-serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.article-head {
font-family:sans-serif;
font-size:85%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

span.blackbox {
background-color:#000000;
}
p.handwriting-head2 {
font-family:sans-serif;
font-size:110%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:1em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}
p.handwriting-center-- {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-right:1em;
margin-bottom:0em;
margin-left:1em;
font-weight:normal;
font-style:normal;
}
p.handwriting-dial {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:justify;
text-indent:-1.5em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.handwriting-text-spaced {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.ftxt-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:8em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}
p.handwriting-opener {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.6em;
font-weight:normal;
font-style:normal;
}
figure.cover {
text-align:center;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
padding-top:0em;
padding-right:0em;
padding-bottom:0em;
padding-left:0em;
}

figure.image {
text-align:center;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:1em;
margin-left:0em;
padding-top:0em;
padding-right:0em;
padding-bottom:0em;
padding-left:0em;
}
figcaption {
font-family:serif;
text-indent:0em;
margin-top:0.5em;
margin-right:1em;
margin-bottom:1em;
padding:0em;
margin-left:1em;
font-weight:normal;
page-break-before:avoid;
}

blockquote {
font-family:serif;
line-height:1.2em;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:1em;
margin-left:0em;
text-align:justify;
font-weight:normal;
}

blockquote p {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
text-align:justify;
font-weight:normal;
}

blockquote p.ex {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-indent:1.5em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
text-align:justify;
font-weight:normal;
}

ul.orderlist {
font-family:serif;
line-height:1.2em;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:1em;
margin-left:1.5em;
padding:0em;
text-align:left;
font-weight:normal;
list-style-type:none;
}
li.nl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

ul.bulletlist {
font-family:serif;
line-height:1.2em;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:1em;
margin-left:1.5em;
padding:0em;
text-align:left;
font-weight:normal;
list-style-type:none;
}
ul.bulletlist1 {
font-family:serif;
line-height:1.2em;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:1em;
margin-left:0em;
padding:0em;
text-align:left;
font-weight:normal;
list-style-type:none;
}

ul.bulletlist2 {
font-family:serif;
line-height:1.2em;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
padding:0em;
text-align:left;
font-weight:normal;
list-style-type:none;
}

li.bl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.bl-txt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}

p.nl-txt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}

li.fn {
font-family:serif;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.prect-orna {
font-family:serif;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.5em;
margin-bottom:1.5em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.pt-orna {
font-family:serif;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.epi-ornament {
font-family:serif;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
h2.ehead {
font-family:serif;
font-size:180%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.ehead {
font-family:serif;
text-align:center;
text-indent:0em;
margin-top:0.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
div.footnotes
{
margin-top:3em;
margin-bottom:0em;
padding-top:0.2em;
border-top:1px solid;
}

ol.note {
list-style-type:none;
text-align:justify;
margin-top:0em;
margin-left:0em;
margin-bottom:0em;
padding-left:0em;
}
